<!--
<div>
    <table border="0">
      <thead>
        <tr>
          <th>head1</th>
          <th>head2</th>
          <th>head3</th>
          <th>head4</th>
        </tr>
      </thead>
      <tr>
        <td>row 1, cell 1</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
      </tr>
      <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
      </tr>
      <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
      </tr>
      <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
      </tr>
      <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 1, cell 2</td>
        <td>row 1, cell 2</td>
      </tr>
    </table>
  </div>p


-->
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class=" table sticky table table-bordered table-striped mb-0">   
   <thead>
    <td align = "center" colspan = "8">May 1-7,2020</td>
    </thead>
    <tr>
        <th></th>
        <th>fri,1May</th>
        <th>sat,2may</th>
        <th>sun,3May</th>
        <th>Mon,4may</th>
        <th>Tue,5may</th>
        <th>wed,6may</th>
        <th>thu,7may</th>
    </tr>
    <tr>
        <td >10am</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        
        
    </tr>
    <tr>
        <td >11am</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
        <tr>
            <td >12pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
     <tr>
        <td >1pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
    <tr>
        <td >6pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
    <tr>
        <td >3pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
    <tr>
        <td >4pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
    <tr>
        <td >6pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
    <tr>
        <td >6pm</td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
        <td ><input type = "text"></td>
    </tr>
</table>
</div>


<!--<table border = "2px" cellspacing = "0px" align = "center">
    <tr>
        <th colspan = "9" bgcolor = "light black">MAy 1-7,2020</th>
    </tr>
    <tr>
        <td>Fri,1MAy</td>
        <td>sat,2 may</td>
        <td>sat,3 may</td>
        <td>sat,4 may</td>
        <td>sat,5 may</td>
        <td>sat,6 may</td>
        <td>sat,7 may</td>
    </tr>
</table>
-->